<?xml version="1.0" encoding="utf-8"?>
 
<configuration>
  <appSettings>
    <add key="server" value="192.168.0.131"/>
    <add key="database" value="OrBitXI_R13"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="sa@0750"/>

    <add key="serverKindee" value="192.168.0.133"/>
    <add key="databaseKindee" value="AIS20180601000543"/>
    <add key="uidKindee" value="sa"/>
    <add key="pwdKindee" value="k3*"/>

    <add key="ftpServerIP" value="192.168.0.133:21"/>
    <add key="ftpUserID" value="MESFTP"/>
    <add key="ftpPassword" value="MesFtp@0750"/>
    <add key="serverDir" value="MES_FTP"/>
    <add key="DefaultResourceId" value="RES1000000Y0"/>

    <add key="SSOPassport" value="http://localhost:8088"/>
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web> 
</configuration>
