<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="server" value="192.168.0.131"/>
    <add key="database" value="AJD"/>
    <add key="uid" value="AJD"/>
    <add key="pwd" value="ajd@0750"/>
    <add key="FloderPath" value="\\192.168.0.232\bk订单二次元测量数据\{0}年{1}月份二次元数据"/>
    <add key="FloderPathModule" value="\\192.168.0.232\bk订单二次元测量数据\研发样品制作单  9-20\{0}年{1}月样板单数据与图片"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings> 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
